/* Cibely Cristiny n°04
Julia Fortunato n°15 */

*{
    margin: 0;
    padding: 0;
}

#bodyplayer{
    background-color: rgb(35, 34, 34);
}

#imgspotify{
    margin-top: 13px;
}

.quadro1{
    margin: 13px;
    border: solid 1px;
    width: 20%;
    background-color: rgba(22, 19, 19, 0.7);
    border-radius: 8px;
}

p#spotify {
    color: white;
    margin-bottom:auto;
    margin-left: 18px;
    margin-bottom: 3px;
}

.quadro2{
    margin: 9px;
    border: solid 1px;
    width: 20%;
    background-color: rgba(22, 19, 19, 0.7);
    border-radius: 6px;
}
#tudologin{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(71,71,71,1) 100%, rgba(9,9,121,1) 100%);
    height: 800px;
    color: white;
    
}
.login{
    display: flex;
    text-align: center;
    justify-content: center;
}
.login, .tudo{
    background-color: black;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 7px;
}
#img1{
    margin-top: 2%;
}
img, button, a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    text-decoration: none;
}
button{
    color: white;
    border: solid 1px white;
    border-radius: 50px;
}
a{
    margin: 10px;
    color: white;
}

.spotify-playlists {
    padding: 20px 40px;
}

.spotify-playlists h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}

.spotify-playlists .list {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.spotify-playlists .list .item {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.spotify-playlists .list .item:hover {
    background-color: #252525;
}



.spotify-playlists .list .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.spotify-playlists .list .item .play {
    position: relative;
}

.spotify-playlists .list .item .play .fa {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}

.spotify-playlists .list .item:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
}

.spotify-playlists .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spotify-playlists .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.spotify-playlists hr {
    margin: 70px 0px 0px;
    border-color: #636363;
}

.preview {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.preview h6 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.preview p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.preview button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
}