/* Cibely Cristiny n°04
Julia Fortunato n°15 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyhomeplayer{
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
.quadroum{
    width: 300px;
    background-color:black;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
}
.quadroum-nav{
    background-color:  rgba(22, 19, 19, 0.7);
    border-radius: 10px;
    padding: 20px  10px;
    margin-bottom: 10px;
}
.quadroum-nav .logo{
    width: 120px;
}
.quadroum-nav .logo img{
    width: 100%;
}

.quadroum-nav ul{
    list-style: none;
}

.quadroum-nav ul li{
    padding: 10px 20px;
}
.quadroum-nav ul li a:hover{
    color:white
}
.quadroum-nav ul li a{
    text-decoration: none;
    color: rgb(117, 113, 113);
    font-size: 16px;
    font-weight: 600;
}
.quadroum-nav ul li a i{
    font-size: 20px;
    margin-right: 10px;
}
.biblioteca::after{
    content: '+';
    float: right;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
}
.criesuaplaylist{
    background-color: rgba(43, 40, 40, 0.5);
    padding: 30px  15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.quadrinhos{
    height: 120px;
    overflow-y: auto;
}
.quadrinhos::-webkit-scrollbar{
    background: transparent;
}
.quadrinhos::-webkit-scrollbar-thumb{
    background:#5c5b5b;
    width: 5px;
}
.criesuaplaylist h4{
    color:white;
    font-size: 15px;
}
.criesuaplaylist p{
    color:white;
    font-size: 12px;
    margin: 12px 0;
}
.criesuaplaylist button{
    padding: 8px 20px;
    border: 0;
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    background-color: white;
}
.criesuaplaylist button p{
    color: #000000;
}

.footer ul li a{
    text-decoration: none;
    color:#575656;
    font-size: 11px;
    font-weight: 600;
    margin: 0 5px;
}
.footer ul li a:hover{
    text-decoration: underline;
    color:white
}

.footer ul{
    list-style: none;
    margin-top: 10px;
}

.footer ul li{
    padding: 0;
    padding-bottom: 8px;
}
.botaobr{
    padding: 20px 30px;
}
.botaobr button{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    color:white;
    border: 1px solid #989898;
    border-radius: 20px;
    margin: 20px 0;  
}
.botaobr button:hover{
    padding: 11px 31px;
    border: 1px solid #fff;
}
.pagina{
    margin-left: 300px;
    background: #181818;
}
.pagina .topo{
    padding: 20px 30px;
    background: #030303;
}


/* #imgspotify{
    margin-top: 13px;
}
.quadro1{
    margin: 13px;
    border: solid 1px;
    width: 20%;
    background-color: rgba(22, 19, 19, 0.7);
    border-radius: 8px;
}
p #spotify {
    color: white;
    margin-bottom:auto;
    margin-left: 18px;
    margin-bottom: 3px;
}
.quadro2{
    margin: 9px;
    border: solid 1px;
    width: 20%;
    background-color: rgba(22, 19, 19, 0.7);
    border-radius: 6px;
}
.spotify-playlists {
    padding: 20px 40px;
}
.spotify-playlists h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}
.spotify-playlists .list {
    display: flex;
    gap: 20px;
    overflow: hidden;
}
.spotify-playlists .list .item {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    cursor: pointer;
    transition: all ease 0.4s;
}
.spotify-playlists .list .item:hover {
    background-color: #252525;
    right: 120%;
}
.spotify-playlists .list .item img {
    width: 120%;
    border-radius: 50%;
    margin-bottom: 10px;
}
.spotify-playlists .list .item .play {
    position: relative;
}
.spotify-playlists .list .item .play .fa {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}
.spotify-playlists .list .item:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
}
.spotify-playlists .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.spotify-playlists .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.spotify-albuns {
    padding: 20px 40px;
}

.spotify-albuns h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}

.spotify-albuns .list {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.spotify-albuns .list .item {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.spotify-albuns .list .item:hover {
    background-color: #252525;
}

.spotify-albuns .list .item img {
    width: 120%;
    border-radius: 4px;
    margin-bottom: 12px;
}

.spotify-albuns .list .item .play {
    position: relative;
}

.spotify-albuns .list .item .play .fa {
    position: absolute;
    top: -40px;
    padding: 20px;
    background-color: #1db954;
    border-radius: 100%;
    transition: all ease 0.4s;
    
}

.spotify-albuns .list .item:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
}

.spotify-albuns .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spotify-albuns .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.preview {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}
.preview h6 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}
.preview p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}
.preview button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
} */
#tudologin{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(71,71,71,1) 100%, rgba(9,9,121,1) 100%);
    height: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login{
    display: flex;
    text-align: center;
    justify-content: center;
}
.login, .tudo{
    background-color: #181818;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 7px;
}
.tudo{
    margin-bottom: 3%;
}
#img1{
    margin-top: 10%;
}
.botoes{
    margin-top: 3%;
}
.botoes1{
    padding: 5px 30px;
    width: 300px;
    height: 50px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid rgb(88, 88, 88);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border: solid 1px #989898;
}
.botoes1:hover, input:hover{
    border: solid 1px white;
}
img{
    margin-right: 7px;
    margin-left: 5px;
}
img, button, a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181818;
}
button{
    color: white;
    border-radius: 50px;
    padding: 1%;
    margin: 1%;
}
a{
    margin: 10px;
    color: white;
}
h1{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: #3f3f3f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    background-color: #181818;
    color: white;
    font-weight: bold;
    border: solid 1px #989898;
    border-radius: 5px;
    width: 245px;
    padding: 7%;
    margin: 3%;
    margin-right: 25%;
}
#enter{
    width: 300px;
    height: 50px;
    font-weight: bold;
    color: black;
    background-color: #1db954;
    border: solid 1px #1db954;
    margin-top: 10%;
    transition: all 300ms ease-out;
}
#enter:hover{
    height: 4rem;
}
footer{
    background-color: #181818;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
#n{
    color: #989898;
    padding: 7%;
}
#x{
    color: #989898;
    font-size: small;
}
a:hover{
    color: #1db954;
}
#ab{
    margin-top: 10%;
}
#y{
    margin-left: 2%;
    color: white;
}
.switch__container{
    display: flex;
    margin-top: 2%;
}
.switch {
    position: absolute;
    visibility: hidden;
}
.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
.switch--shadow + label {
    padding: 2px;
    width: 30px;
    height: 15px;
    background-color: #989898;
    border-radius: 60px;
}
.switch--shadow + label:before, .switch--shadow + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
}
.switch--shadow + label:before {
    right: 1px;
    background-color: #989898;
    border-radius: 60px;
    transition: all 0.4s;
}
.switch--shadow + label:after {
    width: 15px;
    background-color: black;
    border-radius: 100%;
    box-shadow: black;
    transition: all 0.4s;
}
.switch--shadow:checked + label:before {
    background-color: #1db954;
}
.switch--shadow:checked + label:after {
    transform: translateX(15px);
}

#bodyplayer{
    background-color: rgb(35, 34, 34);;
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    margin: 13px;
    border: solid 1px;
    background-color: rgba(22, 19, 19, 0.7);
    border-radius: 8px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 285px;
    padding: 22px;
}

.sidebar .logo img {
    width: 130px;
}

.sidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar .navigation ul li {
    padding: 10px 0px;
}

.sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.sidebar .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
}

.sidebar .navigation ul li a:hover {
    color: #ffffff;
}


.sidebar .policies {
    position: absolute;
    bottom: 100px;
}

.sidebar .policies ul {
    list-style: none;
}

.sidebar .policies ul li {
    padding-bottom: 5px;
}

.sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.sidebar .policies ul li a:hover {
    text-decoration: underline;
}

.main-container {
    margin-left: 350px;
    margin-bottom: 100px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(22, 19, 19, 0.7);
    padding: 0,5px 20px;
    border-radius: 8px;
}

.topbar .prev-next-buttons button {
    color: #7a7a7a;
    cursor: not-allowed;
    width: 34px;
    height: 30px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color:rgb(22, 19, 19, 0.7);
    margin-right: 10px;
}

.topbar .navbar {
    display: flex;
    align-items: center;
}

.topbar .navbar ul {
    list-style: none;
}

.topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}

.topbar .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.topbar .navbar ul li a:hover {
    color: #ffffff;
    font-size: 15px;
}

.topbar .navbar button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.topbar .navbar button:hover {
    background-color: #f2f2f2;
}

.bloco2{
    margin: 13px;
    border: solid 1px;
    width: 20%;
    background-color: rgba(22, 19, 19, 0.7);
    border-radius: 8px;
}
